*{
    margin: 0px;
    padding: 0px;
}
#banner{
    background: linear-gradient(rgba(0, 0, 0, 0.5),#009687),url("anh/banner.jpg");  
    /* background: linear-gradient(#01957769,#fff),url("anh/banner.jpg"); */
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo {
    margin-left: 200px;
    margin-top: 50px;
}
/* .banner-text h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
    font-weight: lighter;
    color: white;
    padding-top: 250px;
}
.banner-text p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 1;
    color: white;
    padding-top: 100px;
} */
.banner-text {
    text-align: center;
    padding-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
.banner-text h1 {
    font-size: 200px;
    font-weight: lighter;
    color: white;
}
.banner-text p {
    font-size: 30px;
    font-style: oblique;
    padding-top: 50px;
    color: rgb(223, 222, 222);
}
.banner-btn {
    font-size: 30px;
    /* margin: 70px auto 0px; */

}
.banner-btn a {
    color: rgb(223, 222, 222);
    text-decoration: none;
    border: 1px solid rgb(223, 222, 222);;
    display: inline-block;
    width: 250px;
    padding: 15px 0;
    margin:120px 20px 0px 20px ;
    position: relative;
    transition: color 0.5s;
    z-index: 1;
}
.banner-btn a:hover {
    color: black;
}
.banner-btn a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(223, 222, 222);
    transition: 0.5s;
    z-index: -1;
}
.banner-btn a:hover span {
    width: 250px;
}
#feature {
    width: 100%;
    padding: 70px 0px;
}
.title-text {
    text-align: center;
    padding-bottom: 70px;
}
.title-text p {
    color: #009687;
    font-size: 30px;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-weight: lighter;
}
.title-text p::after {
    content: '';
    width: 70px;
    height: 40px;
    background: linear-gradient(#01957769,#fff);
    position: absolute;
    top: -20px;
    left: 0px;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px ;
    border-bottom-right-radius: 45px;
}
.title-text h1 {
    font-size: 80px;
    font-weight: lighter;
    
}
.feature-box {
    display: flex;
    align-items: center;
    text-align: center;
}
.features {
    width: 60%;
    font-size: 30px;
    margin-top: 100px;
    padding-left: 100px;
}
.features-img {
    width: 40%;
    margin: auto;
}
.features-img img {
    width: 70%;
    border-radius: 2%;
}
.features h1 {
    text-align: left;
    color: #01957769;
    font-weight: lighter;
}
.features-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-icon .bi {
    width: 50px ;
    height: 50px;
    font-size:30px ;
    line-height: 50px;
    color: #009687;
}
.feature-text p {
    text-align: initial;
    padding: 0px 20px;
}
.service-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service {
    flex-basis: 48%;
    border-radius: 7px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    position: relative;
}
.single-service img {
    width: 100%;
    border-radius: 7px;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(#01957769,#fff);
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay {
    opacity: 1;
}
.service-desc {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr {
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-desc p {
    font-size: 14px;
}
.single-service:hover .service-desc {
    bottom: 40%;
    opacity: 1;
}
#testimonial {
    width: 100%;
    padding: 70px 0;
}
.testimonial-row {
    display: flex;  
    width: 80%; 
    margin: auto;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonial-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow:0 10px 20px 3px rgb(203, 202, 202);
    cursor: pointer;
    transition: .5s;
}
.testimonial-col p {
    font-size: 14;
}
.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img {
    width: 40px;
    margin-right: 5px;
    border-radius: 3px;
}
.user-info .bi {
    color: #009687;
    font-size: 20px;
    margin-left: 10px;
}
.user-info small {
    color: #009687;
}
.testimonial-col:hover {
    transform: translateY(7px);
}
#footer {
    padding: 100px 0px 20px;
    width: 100%;
    background: #d0cece;
    position: relative;
}
.footer-row {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left .footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right {
    text-align: right;
}
.footer-row h1 {
    margin: 10px 0;
}
.footer-row p {
    line-height: 35px;
}
.footer-img {
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 48%;
    top: 35%;
    transform: translate(-50%,-50%);
}
.social-links {
    text-align: center;
}
.social-links .bi {
    width: 40px;
    height: 40px;
    color: #009687;
    margin: 10px;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    transition: .5s;
}
.social-links .bi:hover {
    color: rgb(160, 9, 9);
}
.social-links p {
    font-size: 12px;
    margin-top: 20px;
}
.footer-left .bi,.footer-right .bi {
    color: #009687;
    font-size: 20px;
    margin: 10px;
}