.flex_container {
    display: flex;
    width: 50%;
    background-color: rgb(39, 39, 200);
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    justify-content: center;
}

.flex_item {
    background-color: beige;
    width: 100px;
    margin: 10px;
    text-align: center;
    /* height: 75px; */
    line-height: 75px;
    font-size: 30px;
}