* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.resite {
    padding: 10px;
    background-color: yellow;
}
p {
    text-align: center;
}
.header-main {
    display: flex;
    background-color: rgb(6, 147, 110);
    justify-content: center;
    align-items: center;
    height: 100px;
}
.header-main div h2 {
    margin-bottom: 7%;
    color: white;
}
.header-main div p {
    font-size: 10px;
    color: white;
}
nav {
    background-color: black;
}
ul {
    display: flex;
    list-style-type: none;
}
li {
    color: white;
    padding: 20px;
}
ul li:hover {
    background-color: #ddd;
    color: black;
}
.content {
    margin-left: 10px;
    margin-right: 10px; 
    display: flex;
    flex-wrap: wrap;
    /* height: 300px; */
    
}
.content-sidebar {
    background-color: rgb(230, 223, 223);
    flex: 30%;
    

}
.content-main {
    flex: 70%;   
}
footer {
    display: flex;
    background-color: grey;
    height: 100px;
    justify-content: center;
}
footer h2 {
    align-self: center;
}
@media screen and (max-width:768px){
    /* .content-sidebar {
        flex: 100%;
    }
    .content-main {
        flex: 100%;
    } */
    .content {
        flex-direction: column;
    }
}
.content-sidebar h3 {
    padding-left: 10%;
    padding-top: 30px;
    padding-bottom: 20px;
}
.content-sidebar p {
    text-align: left;
    padding-left: 76px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.content-sidebar h4 {
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 0px;
}
.img {
    display: flex;
    justify-content: center;
}
.img-item1 {
    width: 80%;
    height: 200px;
    background-color: gray;
}
.img-container {
    display: flex;
    align-items: center;
    flex-direction: column; 
}
.img-item {
    width: 80%;
    margin: 10px;
    line-height: 50px; 
    
    /* margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; */
    background-color: gray;
    /* height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;*/
    padding-left: 20px;
}
